<div class="footer">
  <div class="footer-category footer-nav">
    <%= link_to "/" do %>
      <p>About</p>
    <% end %>
    <%= link_to "/" do %>
      <p>Careers</p>
    <% end %>
    <%= link_to "/" do %>
      <p>Privacy</p>
    <% end %>
    <%= link_to "/" do %>
      <p>FAQ</p>
    <% end %>
    <%= link_to "/" do %>
      <p>Contact</p>
    <% end %>
  </div>

  <div class="footer-category footer-social">
    <%= link_to "/" do %>
      <p> icon </p>
    <% end %>
    <%= link_to "/" do %>
      <p> icon </p>
    <% end %>
    <%= link_to "/" do %>
      <p> icon </p>
    <% end %>
    <%= link_to "/" do %>
      <p> icon </p>
    <% end %>
  </div>
</div>



<i class="fab instagram">
