

<%= simple_form_for @event do |f| %>
  <div class="form">
    <div class="form-container">
      <%= fa_icon("times") %> <%= f.input :name, placeholder: 'Enter title', label: false %>
    </div>
    <div class="form-container">
      <%= fa_icon("times") %> <%= f.input :place, placeholder: 'Add location', label: false %>
    </div>
    <div class="form-container">
      <%= f.input :start_time, as: :date, html5: true, label: false %>
    </div>
    <div class="form-container">
      <%= f.input :ending_at, as: :date, html5: true, label: false %>
    </div>
    <div class = "sub-button-form">
      <%= f.button :submit, class: 'button' %>
    </div>
  </div>
<% end %>

<!-- https://fontawesome.com/icons/grip-lines?style=solid
 -->

