<div class="table-container scroller">
  <table class="doodles">
    <colgroup>
      <col span="1" class = "wide">
    </colgroup>
    <tr>
      <!-- first Row with Dates -->
      <th></th>
      <% (@event.start_event).each do |date| %>
        <th>
          <div class="date-cells">
            <p> <%= date.strftime("%B") %></p>
            <span> <%= date.strftime("%d") %> </span>
            <p> <%= date.strftime('%a') %>.</p>
          </div>
        </th>
      <% end %>
    </tr>
    <tr>
      <td>
        <div class = "user-cell">
          <p> <%= pluralize @event.users.count, "participant"  %></p>
        </div>
      </td>
      <% @event.participants.each do |date, number| %>
        <td class="part-number">
          <p> <i class="fas fa-check"></i> <%= number %></p>
        </td>
      <% end %>
    </tr>
    <% unless @users.empty? %>
      <% @users.each do |user| %>
      <tr>
        <td>
          <div class = "user-cell">
            <i class="fas fa-user"></i> <p><%= user.name.capitalize() %></p>
          </div>
        </td>
          <% (@event.start_event).each do |item| %>
            <% if user.date_user.include?(item) %>
              <td class="here"> <i class="fas fa-check"></i> </td>
            <% else %>
              <td class="nothere"> </td>
            <% end %>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>



