<div class = "edt">
  <h1> <%= @event.name.capitalize() %> </h1>
  <div class = "edt-header">
    <p> by <%=@event.users.first.name %> </p> <p> <i class="fas fa-circle" style="color:gray;font-size:10px"> </span> </i></p>
    <p> <%= ((Time.now - @event.created_at )/6000).round() %> mins ago<p> <i class="fas fa-circle" style="color:gray;font-size:10px"> </span> </i></p>
    <p> <%= "Print" %></p>
  </div>

  <div class = "edt-info">
   <div class="edt-info-container">
      <p> <i class="fas fa-map-marker" style="color:gray"></i> </p> <p> <%= @event.place %></p>
    </div>
   <div class="edt-info-container">
      <p> <i class="fas fa-align-justify" style="color:gray"></i> </p>
      <div>
        <p> <%= @event.note %> </p>
      </div>
    </div>
  </div>

  <ul class="tabs">
    <li><%= "Table" %></li>
    <li><%= "Calendar" %></li>
  </ul>

<%= render "table" %>
<%= render "calendar" %>


</div>

<!-- rails effet tab -->
