<h1>Events#show</h1>
<p>Find me in app/views/events/show.html.erb</p>

<h2> doodles </h2>

<%= link_to "invite a user", new_event_user_path(@event) %>


<%= @users.last.start %>

<% date_event = [] %>
 <% (@event.start_event..@event.end_event).each do |date| %>
      <% date_event << date %>
    <% end %>

    <% participants = Hash.new(0) %>

<table class="doodles">
  <tr>
    <th></th>
    <% date_event = [] %>
    <% (@event.start_event..@event.end_event).each do |date| %>
      <th><%= date.strftime("%d/%m") %></th>
      <% date_event << date %>
    <% end %>
  </tr>
    <tr>
      <td> Participants </td>
      <% @event.participants.each do |date, number| %>
        <td> <%= number  %> </td>
      <% end %>
    </tr>

    <% unless @users.empty? %>
      <% @users.each do |user| %>
  <tr>
    <td> <%= user.name %> </td>
      <% date_user = [] %>
      <%(user.start..user.end).each do |date| %>
        <% date_user << date %>
      <% end %>

      <% (@event.start_event..@event.end_event).each do |item| %>
        <% if date_user.include?(item) %>
          <td> <%= fa_icon("check") %> </td>
        <% else %>
          <td> <%= fa_icon("times") %> </td>
        <% end %>
      <% end %>
    <% end %>
  </tr>
    <% end %>
</table>

