<div class = "edt">
  <h1> <%= @event.name %> </h1>
  <div class = "edt-header">
    <p> by <%=@event.users.first.name %> </p> <p> <i class="fas fa-circle" style="color:gray;font-size:10px"> </span> </i></p>
    <p> <%= ((Time.now - @event.created_at )/6000).round() %> mins ago<p> <i class="fas fa-circle" style="color:gray;font-size:10px"> </span> </i></p>
    <p> <%= "print" %></p>
  </div>

  <div class = "edt-info">
   <div class="edt-info-container">
      <p> <i class="fas fa-map-marker" style="color:gray"></i> </p> <p> <%= @event.place %></p>
    </div>
   <div class="edt-info-container">
      <p> <i class="fas fa-align-justify" style="color:gray"></i> </p> <p> <%= @event.note %> </p>
    </div>
  </div>

  <% participants = Hash.new(0) %>

  <div class="table-container scroller">
    <table class="doodles">
      <colgroup>
        <col span="1" class = "wide">
      </colgroup>
      <tr>
        <!-- first Row with Dates -->
        <th></th>
        <% (@event.start_event..@event.end_event).each do |date| %>
          <th>
            <div class="date-cells">
              <p> <%= date.strftime("%B") %></p>
              <span> <%= date.strftime("%d") %> </span>
              <p> <%= date.strftime('%a') %>.</p>
            </div>
          </th>
        <% end %>
      </tr>
      <tr>
        <td> <%= @event.users.count %> Participants </td>
        <% @event.participants.each do |date, number| %>
          <td class="part-number">
            <p> <i class="fas fa-check"></i> <%= number %></p>
          </td>
        <% end %>
      </tr>
        <% unless @users.empty? %>
          <% @users.each do |user| %>
      <tr>
        <td> <%= user.name %> </td>
          <% date_user = [] %>
          <%(user.start..user.end).each do |date| %>
            <% date_user << date %>
          <% end %>

          <% (@event.start_event..@event.end_event).each do |item| %>
            <% if date_user.include?(item) %>
              <td class="here"> <i class="fas fa-check"></i> </td>
            <% else %>
              <td class="nothere"> </td>
            <% end %>
          <% end %>
        <% end %>
      </tr>
      <% end %>
    </table>
    <%= link_to "invite a user", new_event_user_path(@event) %>
  </div>
</div>





