<%= render 'shared/navbar' %>

  <div class="font">
    <div class="intro">
      <h1> Cursed planner </h1>
      <div class="intro-message ">
        <h2> You need to plan and event gathering a lot of more and less busy people and you dont know how to find a date
          for everybody ? </h2>
      </div>
        <h1>  <%= link_to "create an event", new_event_path %> </h1>
    </div>
  </div>


<!--   <% @events.each do |event| %>
    <ul>
      <li> <%= link_to event.name, event_path(event) if event %>  </li>
    </ul>
  <% end %> -->


<div class="sections"></div>
  <div class="container">
    <h2>  Do you need a date for : </h2>
  </div>
  <div class="sub">
    <div class="container">
      <div class="info">
        <div class="picture">
          <%= image_tag "student.jpg" %>
        </div>
        <div class="rigth-t">
          <h2> Your thesis soutenance ?</h2>
          <p> You probably need to gather people around the country with very specific academic background ? </p>
        </div>
      </div>
    </div>
  </div>

  <div class="sub">
    <div class="container">
      <div class="info">
        <div class="left-t">
          <h2> Your wedding ?</h2>
          <p> You might absolutely want several close friend and distant family to be attending to this special event </p>
        </div>
        <div class="picture">
          <%= image_tag "depress_student.jpg" %>
        </div>
      </div>
    </div>
  </div>

  <div class="sub">
    <div class="container">
      <div class="info">
        <div class="rigth-t">
          <h2> This important meeting your boss ?</h2>
          <p> You know the one who needs your boss, your boss'boss and other very busy people </p>
        </div>
        <div class="picture">
          <%= image_tag "employe.jpg" %>
        </div>
      </div>
    </div>
  </div>

   <div class="intro-message ">
    <div class="container">
      <h2> Dont worry, we know what you're going through. <br>
        We can help you to predict what gonna happen ...
      </h2>
    </div>
  </div>
</div>


<%= render 'shared/footer' %>

