<%= render 'shared/navbar' %>

  <div class="font">
    <div class="intro">
      <h1> Cursed planner </h1>
      <div class="intro-message ">
<!--         <h2> You need to plan and event gathering a lot of more and less busy people and you dont know how to find a date
          for everybody ? </h2> -->
      </div>
        <h1>  <%= link_to "Create an event", new_event_path %> </h1>
    </div>
  </div>

<div class="sections"></div>
  <div class="text-intro">
    <h2> You need to plan and event gathering a lot of more and less busy people and you dont know how to find a date
          for everybody ? </h2>
          <h2> That great !!</h2>
    <h2>  Well, do you need a date for : </h2>
  </div>
  <div class="sub">
    <div class="container">
      <div class="info">
        <div class="picture">
          <%= image_tag "student.jpg" %>
        </div>
        <div class="rigth-t">
          <h2> Your <span>thesis soutenance</span> ?</h2>
          <p> You probably need to gather people around the country with very specific academic background ? </p>
        </div>
      </div>
    </div>
  </div>

  <div class="sub">
    <div class="container">
      <div class="info">
        <div class="left-t">
          <h2> Your <span>wedding</span> ?</h2>
          <p> You might want several close friend and distant family to be attending to this special event </p>
        </div>
        <div class="picture">
          <%= image_tag "depress_student.jpg" %>
        </div>
      </div>
    </div>
  </div>

  <div class="sub">
    <div class="container">
      <div class="info">
        <div class="picture">
          <%= image_tag "employe.jpg" %>
        </div>
        <div class="rigth-t">
          <h2> This important <span>meeting your boss</span> ?</h2>
          <p> You know the one who absolutely needs your boss, your boss'boss and other very busy people </p>
        </div>
      </div>
    </div>
  </div>

    <div class="text-intro">
      <h2> Dont worry, we know what you're going through. <br>
    We can help you to predict what gonna happen ...
      <h1>  <%= link_to "Create an event", new_event_path %> </h1>
    </div>
</div>

<%= render 'shared/footer' %>

