<%= render 'shared/navbar' %>

  <div class="font">
    <div class="intro">
      <h1> Cursed planner </h1>
      <div class="intro-message ">
        <h2> We offer you an unique planning simulation experience : </h2>
        <p class = "whitebutton margin">  <%= link_to "Try now!", new_event_path %> </p>
      </div>
    </div>
  </div>

<div class="sections"></div>
  <div class="text-intro invisible">
    <h2> You need to plan and event gathering a lot of more and less busy people and you dont know how to find a date
    for everybody ? </h2>
    <h2> That great !!</h2>
    <h2>  Well, do you need a date for : </h2>
  </div>
  <div class="sub invisible">
    <div class="container">
      <div class="info">
        <div class="picture">

          <%= link_to event_path(@thesis) do %>
            <%= image_tag("student.jpg", alt: 'Logo')%>
          <% end %>

          <%= link_to event_path(@thesis) do %>
            <%= image_tag("thesis_schedule.jpg", alt: 'Logo') %>
          <% end %>

        </div>
        <div class="rigth-t">
          <h2> Your <span>thesis soutenance</span> ?</h2>
          <p> You probably need to gather people around the country with very specific academic background ? </p>
          <p class="testimony"> "So accurate! We took 6 extra months to gather everyone for my thesis! But I am finaly doctor now!"</p>
          <p class="author">Emilie</p>
        </div>
      </div>
    </div>
  </div>
  <div class="sub invisible">
    <div class="container">
      <div class="info">
        <div class="left-t">
          <h2> Your <span>wedding</span> ?</h2>
          <p> You might want several close friends and distant family members to be attending to this special event </p>
          <p class="testimony"> "Amazing prediction! We never find a date where everybody were avalaible for my weeding! I am still single but now I hate my family even more!"</p>
          <p class="author">Marie</p>
        </div>
        <div class="picture">
         <%= link_to event_path(@wedding) do %>
            <%= image_tag("wedding.jpg", alt: 'Logo')%>
          <% end %>

          <%= link_to event_path(@wedding) do %>
            <%= image_tag("wedding_schedule.jpg", alt: 'Logo')%>
          <% end %>

        </div>
      </div>
    </div>
  </div>

  <div class="sub invisible">
    <div class="container">
      <div class="info">
        <div class="picture">
         <%= link_to event_path(@meeting) do %>
            <%= image_tag("employe.jpg", alt: 'Logo')%>
          <% end %>

          <%= link_to event_path(@meeting) do %>
            <%= image_tag("boss_schedule.jpg", alt: 'Logo')%>
          <% end %>
        </div>
        <div class="rigth-t">
          <h2> This important <span>meeting with your boss</span> ?</h2>
          <p> You know the one who absolutely needs your boss, your boss' boss and other very busy people </p>
          <p class="testimony"> "Great service! I never succeeded to gather everyone for my promotion. Actualy they fired me in the meantime..."</p>
          <p class="author">Derek</p>
        </div>
      </div>
    </div>
  </div>
    <div class="text-intro invisible">
      <h2> Dont worry, we know what you're going through. <br>
    We can help you to predict what gonna happen ...
      <h1 class = "blackbutton margin">  <%= link_to "Try now!", new_event_path %> </h1>
    </div>
</div>

<%= render 'shared/footer' %>

